/*Link Addtion Popup*/
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.26);
    backdrop-filter: blur(10px);
    height: 100%;
    overflow: auto;
    display: none;
}
.popup-content {
    display: flex;
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    font-weight: bolder;
    border-radius: 20px;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
#linkSpace{
    font-family: "Open Sans";
    padding: 5px;
    width: 300px;
    height: 20px;
    margin-left: 20px;
    margin-top: 25px
}
#linkName{
    font-family: "Open Sans";
    padding: 5px;
    width: 300px;
    height: 20px;
    margin-left: 20px;
    margin-top: 25px
}
#linkAddBtn{
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    font-family: "quicksand";
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 208, 182);

}
#closePopup{
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    font-family: "quicksand";
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 208, 182);
}

/*Settings Popup*/

.popupSettings {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}
.popupSettings-content {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 20%;
    height: 100%;
    font-weight: bolder;
    
}
.popupSettings-content h2{
    font-family: "quicksand";
}
.popupSettings-content input{
    margin-bottom: 20px;
}
.popupSettings-content label{
    font-family: "quicksand";
    font-weight: 500;
}
#closePopupSet{
    font-family: "quicksand";
    width: 385px;
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 208, 182);
    position: absolute;
    bottom: 100px;
}
.showSettings {
    display: block;
}
#bottominfo{
    display: block;
    align-self: center;
    position: absolute;
    bottom: 45px;
}