.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(
        0,
        0,
        0,
        0.4
    );
    display: none;
}
.popup-content {
    display: flex;
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 50%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
#linkSpace{
    font-family: "Open Sans";
    padding: 5px;
    width: 300px;
    height: 20px;
    margin-left: 20px;
    margin-top: 25px
}
#linkName{
    font-family: "Open Sans";
    padding: 5px;
    width: 300px;
    height: 20px;
    margin-left: 20px;
    margin-top: 25px
}
#linkAddBtn{
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    font-family: "quicksand";
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 208, 182);

}
#closePopup{
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    font-family: "quicksand";
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 208, 182);
}




.popupSettings {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}
.popupSettings-content {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 20%;
    height: 100%;
    font-weight: bolder;
}
.popupSettings-content h2{
    font-family: "quicksand";
}
.popupSettings-content input{
    margin-bottom: 20px;
}
.popupSettings-content label{
    font-family: "quicksand";
    font-weight: 400;
}
#closePopupSet{
    font-family: "quicksand";
    font-weight: 600;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 208, 182);
}
.showSettings {
    display: block;
}
#closePopupSet{
    position: absolute;
    bottom: 100px;
}
#devname{
    font-family: "Open Sans";
    position: absolute; 
    bottom: 40px;
}