/*Quicklinks widget*/
#gridView{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 25px;
}
#quickLinks{
    position: fixed;
    bottom: 0;
    scale: 0.7;
    background-color: rgba(59, 59, 59, 0.192);
    border-radius: 20px;
    overflow-y: none;
    backdrop-filter: blur(10px);
    height: fit-content;
    width: fit-content;
    padding: 12px;
}
#appHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
#appItem{
    width: 70px;
    height: 70px;
    padding: 10px;
    background-color: rgba(59, 59, 59, 0.418);
    border-radius: 20px;
    transition: 0.1s ease;
}
#appItem:hover{
    scale: 1.2;
}