/*ScrollBar Features*/
#quickLinks::-webkit-scrollbar{
    display: none;
}
.container{
    display: flex;
    justify-content: center;
}
#gridView{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 25px;
}
#quickLinks{
    scale: 0.8;
    border-radius: 20px;
    margin-top: -230px;
    overflow-y: scroll;
    background-color: rgba(68, 68, 68, 0.288);
    backdrop-filter: blur(10px);
    height: fit-content;
    width: fit-content;
    padding: 12px;
}
#appHolder{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#appItem{
    width: 70px;
    height: 70px;
    padding: 10px;
    background-color: rgba(59, 59, 59, 0.473);
    border-radius: 20px;
    transition: 0.1s ease;
}
#appItem:hover{
    scale: 1.2;
}
#itemBar{
    display:flex; 
    justify-content: space-between;
}