/*Quicklinks widget*/
#gridView{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 25px;
}
#quickLinks{
    position: fixed;
    bottom: 0;
    scale: 0.7;
    background-color: rgba(59, 59, 59, 0.192);
    border-radius: 20px;
    overflow-y: none;
    backdrop-filter: blur(10px);
    height: fit-content;
    width: fit-content;
    padding: 12px;
}
#appHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
#appItem{
    width: 70px;
    height: 70px;
    padding: 10px;
    background-color: rgba(59, 59, 59, 0.418);
    border-radius: 20px;
    transition: 0.1s ease;
}
#appItem:hover{
    scale: 1.2;
}
/*Battery Widget*/
#batteryPanel{
    display: none;
    position: fixed;
    left: 20px;
    margin-top: 20px;
    width: 150px;
    height: 75px;
    border-radius: 15px;
    color: white;
    background-color: rgba(4, 4, 4, 0.219);
    backdrop-filter: blur(10px);
    overflow: hidden;
}
#batteryLevel{ 
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 206, 109, 0.521);
    backdrop-filter: blur(10px);
}
#batteryText{
    font-family: "Open Sans";
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 23px;
    margin-left: 5px;
}
#isCharging{
    display: none;
    margin-top: 27px;
    margin-left: 70px;
}